<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
	<div layout:fragment="main" class="main">
	<h1>院内紹介</h1>
		<div class="doctor-profile">
			<img th:src="@{/img/nagisadoctor.jpg}" class="doctor-img"/>
				<table  class="doctor-profile">
					<tr><th><img th:src="@{/img/leaf.png}" class="leaf"/>医院長プロフィール<img th:src="@{/img/leaf.png}" class="leaf"/></th></tr>
					<tr><td>星野ナギサ</td></tr>
					<tr><td>&lt;資格・所属・学歴&gt;</td></tr>
					<tr><td>・昭和大学医学部卒業・医学博士</td></tr>
					<tr><td>・関東労災病院	</td></tr>
					<tr><td>・総合高津中央病院耳鼻咽喉科医長</td></tr>
					<tr><td>・日本耳鼻咽喉科学会専門医</td></tr>
					<tr><td>・日本聴覚医学会</td></tr>
				</table>
		 </div>
		<div class="home-button-block">
			<a th:href="@{/}"><img th:src="@{/img/home.png}" class="home-button"/></a>
		</div>
		<link rel="stylesheet" th:href="@{/css/introduction.css}"/>
	</div>
</body>
</html>